body {
    background: black;
    color: blue;
    background-color: #0052ff;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fbf8ff' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

.nav-brand {
    width: 100px;
    border: aqua;
    border-radius: 50px;
}

.button {
    border-bottom: 50px;
    margin-bottom: 40px;
    border-bottom-style: inset;
    background-color: blue;
}

.darkmode {
    background-color: rgb(32, 32, 44);
}